
/* MAIN LAYOUT */

body {
	min-height: 700px;
	min-width: 1200px;
	width: 100%;
	height: 100%;
}

#web-content {
	position: absolute;
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: stretch;
}

#header {

}
#menuAndPageWrapper {
	display: flex;
	flex-direction: row;
	align-items: stretch;

	flex-grow: 1;
}

#menu {

}

#pageWrapper {
	display: flex;
	flex-direction: column;
	align-items: stretch;

	flex-grow: 1;
}
#page {
	display: flex;
	flex-direction: column;
	align-items: stretch;

	flex-grow: 1;
}

.pageHeader {

}

.grid {
	display: flex;
	flex-direction: column;
	align-items: stretch;

	flex-grow: 1;

	margin-bottom: 10px;
}

.gridHeader {
	flex-grow: 0;
}
.gridContent {
	flex-grow: 1;
}
.gridFooter {

}